@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.modal {
  z-index: 100;
}

.modal-backdrop {
  z-index: 50 !important;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.mat-form-field-infix {
  width: 300px !important;
}
