:host {
  .app-header {
    box-shadow: 1px 1px 1px 1px;
    font-size: 3em;
    height: 100px;
    padding-left: 32%;
    padding-top: 12px;
    background: #0a00007d;
    color: #fbfafa;
    text-shadow: 2px 2px #091a2a;
    font-family: fantasy;

    .header-image {
      height: 67px;
      position: absolute;
      left: 0.5%;
    }
  }
}

.app-body {
  background: url("../assets/superheroes-bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}





