:host {
  .app-header {
    font-size: 1em;
    height: 50px;
    padding-left: 6%;
    padding-top: 12px;
    background: #ffffff;
    color: #fbfafa;

    .header-image {
      height: 32px;
      position: absolute;
      left: 0.5%;
      padding-right: 1%;
      top: 8px;
      border-right: solid 1px gray;
    }

    .tufin-logo {
      width: 10em;
      height: 30px;
      margin-left: 1.4%;
      margin-right: 2%;
      position: relative;
      top: -4px;
    }
  }
}

.app-body {
  background-size: cover;
  height: 100vh;
  background: #E2E2E2;
  overflow: hidden;
}





