:host {

  .grid-header {
    color: #121212;
    width: 77.6%;
    margin-left: 0.9%;
    margin: 0.5em 10%;
    font-size: 1.5em;
  }

  .no-results {
    font-size: 3em;
    text-align: center;
    margin-top: 5%;
  }

  .add-char-btn {
    float: right;
    width: 20%;
    color: white;
    border-radius: 20px;
    background: #ec7702;

    &:active {
      position: absolute;
      width: 20%;
      right: 20px;
      color: white;
      border-radius: 20px;
      background-color: #b63032 !important;
    }
  }

  .card {
    border-radius: 10px;
    margin: 10px 10%;
    box-shadow: 0px 3px 6px #00000029;
    padding: 4px;

    &:hover {
      background-color: lightgray;
      cursor: pointer;
    }
  }
}

.list-container {
  height: calc(100vh - 85px);
  overflow: auto;
}



